<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd" bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="Unit Tests">
      <directory>tests/Unit</directory>
    </testsuite>
    <testsuite name="Functional Tests">
      <directory>tests/Functional</directory>
    </testsuite>
    <testsuite name="Integration Tests">
      <directory>tests/Integration</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="APP_ENV" value="testing"/>
    <server name="REQUEST_METHOD" value="GET"/>
  </php>
  <logging>
    <!-- Reporte Clover XML para cobertura de código -->
    <log type="coverage-clover" target="coverage/clover.xml" />
    <!-- Reporte JUnit para resultados de pruebas -->
    <junit outputFile="coverage/junit.xml" />
  </logging>
  <source>
    <include>
      <directory suffix=".php">app/Controllers</directory>
      <directory suffix=".php">app/Models</directory>
    </include>
  </source>
</phpunit>
